.App {
  text-align: center;
  width: 100vw;
}

.display-card {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 85%;
  margin: 4px auto;
  border-radius: 5px;
}

.text-container {
  width: 50%;
  display: grid;
  place-items: center;
  align-content: center;
}

.links-container {
  margin-bottom: 8px;
}

.image-container {
  width: 50%;
  display: grid;
  place-items: center;
  align-content: center;
  background-color: aqua;
}

footer {
  padding: 4px;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 5px auto;
}
